<div class="container">
<div class="panel panel-primary" *ngFor="let employee of employees">
    <button (click)="logMessage(employeeComponent.employee.id)">Click Me</button>
  <app-display-employee [employee]="employee" #employeeComponent ></app-display-employee>

        </div>
      
      </div>

      <!-- <button (click)="nextEmployee()" class="btn btn-primary">NEXT</button>
      <app-display-employee [employee]="employeeToDisplay" [employeeId]="employeeToDisplay.id"></app-display-employee> -->